<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
      <div class="row mt-4 mb-3 d-flex justify-content-between">
        <div class="col-5">
          <h2>
            <span class="title">ショッピングカート</span>
          </h2>
        </div>
        <div class="col-5 d-flex justify-content-end align-items-center">
          <%= link_to "カートを空にする",class: "btn btn-danger text-white" %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-bordered">
            <colgroup>
              <col width="40%">
              <col width="15%">
              <col width="15%">
              <col width="15%">
              <col width="15%">
            </colgroup>
            <thead>
              <tr>
                <th>商品名</th>
                <th>単価（税込）</th>
                <th>数量</th>
                <th>小計</th>
                <th></th>
              </tr>
            </thead>
            <% @cart_items.each do |cart_item| %>
            <tbody>
              <tr>
                <td class="align-middle">
                  <div class="row">
                    <div class="col-3">
                      <%= image_tag cart_item.item.item_image,class: "img-fluid" %>
                    </div>
                    <div class="col-9 d-flex align-items-center">
                      <%= cart_item.item.name %>
                    </div>
                  </div>
                </td>
                <td class="align-middle"><%= cart_item.item.tax_included_price %></td>
                <td class="align-middle"><%= cart_item.amount %></td>
                <td class="align-middle"></td>
                <td class="align-middle"><%= link_to "削除する" %></td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      </div>
      <div class="row">
        
      </div>
      <div class="row">
        
      </div>
    </div>
  </div>
</div>