<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
      <%= form_with model: @order,url: public_orders_create_path,method: :post do |f| %>
      <div class="row mt-4 mb-3 d-flex justify-content-between">
        <div class="col-5">
          <h2>
            <span class="title">注文情報確認</span>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <table class="table table-bordered">
            <thead>
              <tr class="thead-color">
                <th>商品名</th>
                <th>単価(税込)</th>
                <th>数量</th>
                <th>小計</th>
              </tr>
            </thead>
            <% @cart_items.each do |cart_item| %>
            <tbody>
              <tr>
                <td class="align-middle">
                  <div class="row">
                    <div class="col-3">
                      <%= image_tag cart_item.item.item_image,class: "img-fluid" if cart_item.item.item_image.attached? %>
                    </div>
                    <div class="col-9 d-flex align-items-center">
                      <%= cart_item.item.name %>
                    </div>
                  </div>
                </td>
                <td class="align-middle"><%= cart_item.item.tax_included_price.to_s(:delimited) %></td>
                <td class="align-middle"><%= cart_item.amount %></td>
                <td class="align-middle"><%= cart_item.subtotal_price.to_s(:delimited) %></td>
                <% @total += cart_item.subtotal_price %>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
        <div class="col-md-3">
          <table class="table table-bordered">
            <tr>
              <th style="background-color:#dcdcdc;">送料</th>
              <td><%= @order.postage %></td>
            </tr>
            <tr>
              <th style="background-color:#dcdcdc;">商品合計</th>
              <td><%= @total.to_s(:delimited) %></td>
            </tr>
            <tr>
              <th style="background-color:#dcdcdc;">請求金額</th>
              <td><%= (@total + @order.postage).to_s(:delimited) %><%= f.hidden_field :payment, :value => (@total + @order.postage) %></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-3 col-md-2">
          <span class="fw-bold">支払方法</span>
        </div>
        <div class="col-6">
          <%= @order.payment_method_i18n %>
          <%= f.hidden_field :payment_method ,:value => @order.payment_method %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3 col-md-2">
          <span class="fw-bold">お届け先</span>
        </div>
        <div class="col-6">
          〒<%= @order.postal_code %> <%= @order.address %><br><%= @order.name %>
          <%= f.hidden_field :postal_code, :value => @order.postal_code %>
          <%= f.hidden_field :address, :value => @order.address %>
          <%= f.hidden_field :name, :value => @order.name %>
        </div>
      </div>
      <div class="row mt-4 d-flex justify-content-center">
        <div class="col-4 text-center">
          <%= f.submit "注文を確定する",class: "btn btn-success text-white" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>