<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row mt-4 h-80 d-flex justify-content-between ps-3 pe-3 pe-lg-5 pb-3 border-bottom">
        <div class="col-3 col-lg-2 d-flex align-items-center justify-content-center">
          <%= link_to root_path,class: "text-dark text-decoration-none" do %>
            <h1 class="border py-2 px-3 px-md-5 ms-4">LOGO</h1>
          <% end %>
        </div>
        <div class="col-3 col-lg-4 d-flex align-items-center justify-content-end">
          
        </div>
        <div class="col-6 col-lg-6"> 
          <div class="row d-flex flex-column"> 
            <!--ナビゲーションバー-->
            <nav class="navbar navbar-expand-md navbar-light justify-content-end">
              <!--ハンバーガーメニュー-->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!--ナビゲーションメニュー-->
              <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                <% if customer_signed_in? %>
                  <li class="nav-item">
                    <%= link_to "マイページ",root_path,class: "btn btn-outline-secondary" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "商品一覧",root_path,class: "btn btn-outline-secondary" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "カート",root_path,class: "btn btn-outline-secondary" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト",destroy_customer_session_path,method: :delete,class: "btn btn-outline-secondary" %>
                  </li>
                <% elsif admin_signed_in? %>
                  <li class="nav-item">
                    <%= link_to "商品一覧",admin_items_index_path,class: "btn btn-outline-secondary" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "会員一覧",admin_customers_index_path,class: "btn btn-outline-secondary" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "注文履歴一覧",admin_homes_top_path,class: "btn btn-outline-secondary" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ジャンル一覧",admin_genres_index_path,class: "btn btn-outline-secondary" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト",destroy_admin_session_path,method: :delete,class: "btn btn-outline-secondary" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "About",public_homes_about_path,class: "btn btn-outline-secondary" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "商品一覧",root_path,class: "btn btn-outline-secondary" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "新規登録",new_customer_registration_path,class: "btn btn-outline-secondary" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログイン",new_customer_session_path,class: "btn btn-outline-secondary" %>
                  </li>
                <% end %>
                </ul>
              </div>
            </nav>
            <div class="col d-flex justify-content-end">
              <div class="search">
                <h1>search</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
