<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="../../stylesheets/bootstrap/bootstrap.min.css">
    <script type="text/javascript" src="../../bootstrap/bootstrap.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row mt-4 h-80 d-flex justify-content-between px-4 pb-3 border-bottom">
        <div class="col-3 d-flex align-items-center justify-content-center">
          <h1 class="border py-2 px-5">LOGO</h1>
        </div>
        <div class="col-3 d-flex align-items-center justify-content-end">
          
        </div>
        <div class="col-6">
          <div class="row d-flex flex-column">
            <div class="col d-flex justify-content-between mb-2">
              <% if customer_signed_in? %>
                <div class="menu">
                  <%= link_to "マイページ",root_path,class: "btn btn-outline-secondary" %>
                </div>
                <div class="menu">
                  <%= link_to "商品一覧",root_path,class: "btn btn-outline-secondary" %>
                </div>
                <div class="menu">
                  <%= link_to "カート",root_path,class: "btn btn-outline-secondary" %>
                </div>
                <div class="menu">
                  <%= link_to "ログアウト",destroy_customer_session_path,method: :delete,class: "btn btn-outline-secondary" %>
                </div>
              <% else %>
                <div class="menu">
                  <%= link_to "About",root_path,class: "btn btn-outline-secondary" %>
                </div>
                <div class="menu">
                  <%= link_to "商品一覧",root_path,class: "btn btn-outline-secondary" %>
                </div>
                <div class="menu">
                  <%= link_to "新規登録",new_customer_registration_path,class: "btn btn-outline-secondary" %>
                </div>
                <div class="menu">
                  <%= link_to "ログイン",new_customer_session_path,class: "btn btn-outline-secondary" %>
                </div>
              <% end %>
            </div>
            <div class="col d-flex justify-content-end">
              <div class="search">
                <h1>search</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
